/**
 * Fondo negro para toda la pagina
*/
body {
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
}

/**
 * Sombra bajo las imagenes
*/
img {
    box-shadow: 2px 2px 5px 0 #02010a;
}

/**
 * Efectos para las imagenes
*/
img[class="rotacion"]:hover {
    box-shadow: 2px 2px #82c3a6;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}

img[class="traslacion"]:hover {
    box-shadow: 2px 2px #82c3a6;
    transform: translate(20px,-5px);
    -webkit-transform: translate(20px,-5px);
}

img[class="filtro_blur"] {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

img[class="filtro_sepia"] {
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
}

img[class="filtro_grayscale"] {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/**
 * Contenedor de la pagina
*/
#contenido {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

/**
 * Cabecera y menu de la pagina
*/
#header {
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px 0 20px;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#header .nav_title {
    width: 70%;
}

#header .nav_title h1 {
    text-shadow: 2px 2px #02010a;
    text-align: left;
}

#header .nav_menu {
    width: 30%;
}

#header .nav_menu nav {
    display: flex;
    flex-wrap: wrap;
}

#header .nav_menu nav a {
    margin: 2px 10px;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
}

#header .nav_menu nav a.active {
    text-decoration: none;
}

/**
 * Secciones de la pagina
 * Primer seccion de 1 columna
*/
#seccion_central {
    background-color: #82c3a6;
    width: 100%;
}

#seccion_central figure {
    padding: 10px;
}

#seccion_central figure img {
    width: 100%;
}

/**
 * Secciones de la pagina
 * Segunda seccion de 2 columnas
*/
#seccion_secundaria {
    background-color: #d5c75f;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#seccion_secundaria figure {
    width: 40%;
}

#seccion_secundaria figure p {
    width: 100%;
    text-align: center;
	text-decoration: underline;
}

#seccion_secundaria figure img {
    width: 100%;
    transition-property: transform;
    transition-duration: 2s;
}

/**
 * Seccion de la galeria de imagenes
*/
.galeria {
    background-color: #d5c75f;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria figure {
    width: 22%;
}

.galeria figure img {
    width: 100%;
}

/**
 * Pie de la pagina 
 * contenido en 4 columnas
*/
#footer {
    background-color: #C6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px 20px 10px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footer div {
    margin: 5px;
}

#footer .icons {
    width: 18px;
    height: 18px;
}

#footer a, a:visited {
    color: black;
    text-decoration: none;
}

#footer #redes_sociales ul {
    list-style-type: none;
}

#footer #redes_sociales ul img {
    box-shadow: 0 0;
}

@media all and (max-width:900px) and (min-width:700px) {
    #contenido {
        width: 100%;
    }

    #header {
        width: 100%;
    }

    #header .nav_title {
        width: 100%;
    }

    #header .nav_menu {
        width: 100%;
    }

    #seccion_secundaria figure {
        width: 60%;
    }

    #footer {
        display: grid;
    }
}

@media all and (max-width:700px) {
    #contenido {
        width: 100%;
    }

    #header {
        text-align: center;
    }

    #header .nav_title {
        width: 100%;
    }

    #header .nav_title h1 {
        text-shadow: 2px 2px #02010a;
        text-align: center;
    }

    #header .nav_menu {
        width: 100%;
    }

    #header .nav_menu nav {
        display: inline;
        flex-wrap: wrap;
    }

    #seccion_secundaria figure {
        width: 60%;
    }
    
    .galeria figure {
        width: 50%;
    }

    #footer {
        display: grid;
    }
}